pipeline/salespipeline.json
{
	"name": "salespipeline",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"parameters": {
							"parameter1": "fileName"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "emailalert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-08.northcentralus.logic.azure.com:443/workflows/e63a06eae3fa4e2bbd0ae5057e5ee52f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=_ElcrRi4XYRis2ty8YIfl_yuVDZpIiZOEVj61nM2dqs",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\t\"Pipeline\":\"@{pipeline().Pipeline}\",\n        \"Error message\" : \"@{activity('Data flow1').Status} \"\n\t\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\t\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "emailalert2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-08.northcentralus.logic.azure.com:443/workflows/e63a06eae3fa4e2bbd0ae5057e5ee52f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=_ElcrRi4XYRis2ty8YIfl_yuVDZpIiZOEVj61nM2dqs",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"Pipeline : \"@{pipeline().Pipeline}\",\n    \"Error message\" : \"@{activity('Data flow1').Output}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-24T03:15:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}